.matCardContainer{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.mat-card.mat-focus-indicator.matCard{
   text-align: center;
}
.recipeName{
    font-size: 23px;
    text-align: center;
}

.recipeDesc{
    margin-bottom: 10%;
}

.matCard{
    width: 25%;
}

.responsive{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 918px) {
    .matCard{
        width: 100%;
    }
    .responsive{
        width: 100%;
        height: auto;
    }
}